@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-changa);
}

body {
  font-family: var(--font-changa), Arial, Helvetica, sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
